body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #0099ffe3
}
header {
    background-color: #0044ffe3;
    color: #ffffff;
    padding: 1rem;
}

.download-list {
    margin: 2rem;
}

.download-list h2 {
    margin-bottom: 1rem;
}

.download-list ul {
    list-style: none;
    padding: 0;
}

.download-list li {
    background: #00ffc8;
    border: 1px solid #fffb00;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
}

.file-description {
    margin: 2rem;
}

.file-description h2 {
    margin-bottom: 1rem;
}
